In [4]:
import pandas as pd

# Define the full path to the CSV file


#Update this path for the file if moving around: fix_sector_add_marketcap
csv_file = r'fix_sector_add_marketcap.csv'



# Read the CSV file
df = pd.read_csv(csv_file)
#Drop this column now; it is wrong and needs to be fixed anyways 
df = df.drop(columns=['sector'])

df

               Date  Permno Ticker   Returns
0        2018-01-02   10026   JJSF -0.017454
1        2018-01-03   10026   JJSF -0.009988
2        2018-01-04   10026   JJSF  0.013813
3        2018-01-05   10026   JJSF -0.009551
4        2018-01-08   10026   JJSF  0.000742
...             ...     ...    ...       ...
5884311  2021-01-25   93436   TSLA  0.040348
5884312  2021-01-26   93436   TSLA  0.002600
5884313  2021-01-27   93436   TSLA -0.021436
5884314  2021-01-28   93436   TSLA -0.033246
5884315  2021-01-29   93436   TSLA -0.050154

[5884316 rows x 4 columns]

In [5]:
#Split this into 1 dataframe per unique ticker. Call them in dictionaries, see below 

#Create a list of unique tickers
unique_tickers = df['Ticker'].unique()
# print(f"Number of unique tickers: {len(unique_tickers)}")

#Remove the nan
unique_tickers = [ticker for ticker in unique_tickers if isinstance(ticker, str)]
print(f"Number of unique tickers: {len(unique_tickers)}")

Number of unique tickers: 9782

In [12]:
unique_tickers;

In [37]:
new_list = []

for ticker in unique_tickers:
    new_list.append(ticker)
    new_list.append('')  # Insert an empty string for space

In [39]:
col_df = pd.DataFrame(columns = unique_tickers)
col_df

Empty DataFrame
Columns: [JJSF, DGSE, ELA, PLXS, RMCF, HNGR, ADX, ORCL, MSFT, AADR, TROW, HON, AMRC, AKRX, TECD, RGEN, AT, FUND, BWXT, ESBK, BWINB, PTVCB, INDB, DSS, DLHC, CLDX, SIGM, HVT, CY, TMP, BCPC, XOMA, DJCO, AMAG, TCF, ASTE, NAVG, WERN, SKYW, FRPH, REFR, AMWD, TWMC, KSPN, ADM, AAN, PRG, VIVO, CLFD, PDEX, WTS, FNB, LAKE, PTSI, ACET, CYAN, EHC, FISV, FCNCA, RWC, BKTI, BKSC, HTLD, CYTR, OSUR, CAL, BC, DXYN, UIS, WSFS, ITIC, CERN, FFKT, WBS, MKL, CDR, AXGN, WPZ, FLIC, FBP, PMD, AVD, PLAB, CRMT, GASL, AGII, ARGO, OFG, RETL, CATO, REPR, KRMD, FBNC, ICCC, WSBC, KO, SAFM, CNBKA, ECT, SCIN, ...]
Index: []

[0 rows x 9782 columns]

In [41]:
new_col_df = pd.DataFrame(columns = new_list)
new_col_df

Empty DataFrame
Columns: [JJSF, -, DGSE, -, ELA, -, PLXS, -, RMCF, -, HNGR, -, ADX, -, ORCL, -, MSFT, -, AADR, -, TROW, -, HON, -, AMRC, -, AKRX, -, TECD, -, RGEN, -, AT, -, FUND, -, BWXT, -, ESBK, -, BWINB, -, PTVCB, -, INDB, -, DSS, -, DLHC, -, CLDX, -, SIGM, -, HVT, -, CY, -, TMP, -, BCPC, -, XOMA, -, DJCO, -, AMAG, -, TCF, -, ASTE, -, NAVG, -, WERN, -, SKYW, -, FRPH, -, REFR, -, AMWD, -, TWMC, -, KSPN, -, ADM, -, AAN, -, PRG, -, VIVO, -, CLFD, -, PDEX, -, ...]
Index: []

[0 rows x 19564 columns]

In [34]:
col_df.to_excel('stock_list.xlsx', index = False)

In [47]:
new_col_df.to_excel('good_stock_list.xlsx', index = False)

ValueError: This sheet is too large! Your sheet size is: 0, 19564 Max sheet size is: 1048576, 16384